* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.nav-bar {
  box-shadow: none !important;
}

.container-top {
  background: #00bcd4;
  width: 100vw;
  padding-top: 25px;
  padding-bottom: 5px;
}

.container {
  margin: 50px auto;
  width: 350px;
}

.inc-exp-container {
  width: 350px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #4dd0e1;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  /* color: #00c853; */
  color: white;
}

.money.minus {
  /* color: #f44336; */
  color: white;
}

.btn {
  opacity: 1;
  cursor: pointer;
  background-color: #00bcd4;
  color: #fff;
  border: 0;
  display: block;
  font-size: 18px;
  padding: 15px;
  width: 350px;
}

.btn:disabled {
  opacity: 0.3;
  cursor: default;
}

/* .btn:hover {
  background: #00838f;
} */

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  font-size: 16px;
  color: #607d8b;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px 0;
  /* margin: 10px 0; */
  text-transform: capitalize;
}

/* .list li.plus {
  border-right: 5px solid #00c853;
}

.list li.minus {
  border-right: 5px solid #f44336;
} */

.delete-btn {
  cursor: pointer;
  /* background-color: #e74c3c; */
  border: 0;
  color: #607d8b;
  /* font-size: 20px; */
  /* line-height: 20px; */
  /* padding: 2px 5px; */
  position: absolute;
  left: 0;
  /* opacity: 0.4; */
  /* top: 50%;
  transform: translate(-100%, -50%);
  transition: opacity 0.3s ease; */
}

/* .list li:hover .delete-btn {
  opacity: 1;
} */


