* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.container {
  margin: 30px auto;
  width: 350px;
}

/* HEADER */

.container-top {
  background: #00bcd4;
  width: 100vw;
  padding-top: calc(56px + 30px);
  text-align: center;
}


.main-title {
  color: white;
  opacity: 0.5;
  font-size: 18px;
  margin-bottom: 10px;
  letter-spacing: 1px
}

.main-amount {
  color: white;
  font-size: 45px
}

.inc-exp-container {
  width: 350px;
  margin: 20px auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #4dd0e1;
}

.sub-title {
  color: #fff;
  opacity: 0.5;
  font-size: 16px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.sub-amount {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
  color: white;
}

/* .money.plus {
  color: #00c853;
}

.money.minus {
  color: #f44336;
} */

.btn {
  opacity: 1;
  cursor: pointer;
  background-color: #00bcd4;
  color: #fff;
  border: 0;
  display: block;
  font-size: 18px;
  padding: 15px;
  width: 100%;
  letter-spacing: 1px;
}

.btn:disabled {
  opacity: 0.3;
  cursor: default;
}

/* .btn:hover {
  background: #00838f;
} */

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
  background: transparent;
}

.list li {
  font-size: 16px;
  color: #607d8b;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px 0;
  /* margin: 10px 0; */
  text-transform: capitalize;
}

/* .list li.plus {
  border-right: 5px solid #00c853;
}

.list li.minus {
  border-right: 5px solid #f44336;
} */

.delete-btn {
  cursor: pointer;
  border: 0;
  color: #607d8b;
  left: 0;
  transform: scaleX(-1);
  position: absolute;
  opacity: 0.5;
  /* top: 50%;
  transform: translate(-100%, -50%);
  transition: opacity 0.3s ease; */
}

/* .list li:hover .delete-btn {
  opacity: 1;
} */

.new-form {
  width: 350px;
  margin: auto;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 375px) {
  .container,
  .inc-exp-container {
    width: 90vw;
  }

  .new-form {
    width: 80vw;
  }

  .main-title {
    font-size: 16px;
  }

  .main-amount {
    font-size: 36px
  }

  .sub-title {
    font-size: 16px;
  }

  .sub-amount {
    font-size: 18px;
  }
}